.error {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--background);

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .stack {
           
        }
    }
}